
# public net.minecraft.world.level.GameRules$BooleanValue m_46250_(Z)Lnet/minecraft/world/level/GameRules$Type # create(boolean)

# NeoForge 1.21.1 uses Mojmap names in ATs (not SRG f_XXXXX_ / func_XXXXX_ names)
public-f net.minecraft.world.level.block.state.BlockBehaviour$BlockStateBase destroySpeed
public net.minecraft.world.entity.projectile.EyeOfEnder surviveAfterDeath
public net.minecraft.world.entity.decoration.ArmorStand setShowArms(Z)V
public-f net.minecraft.world.level.ServerExplosion damageCalculator
